APP_ENV=development
APP_NAME=denisco-api
APP_PORT=4000
API_BASE_URL=http://localhost:4000

WEB_ORIGIN=http://localhost:3000
ADMIN_ORIGIN=http://localhost:3001

MONGODB_URI=
MONGODB_DATABASE=denisco

REDIS_URL=redis://localhost:6379/0

JWT_ACCESS_SECRET=
JWT_ACCESS_TTL=15m
REFRESH_TOKEN_TTL=720h
JWT_ISSUER=denisco_backend
JWT_AUDIENCE=denisco_api

BCRYPT_COST=12

PAYSTACK_SECRET_KEY=
PAYSTACK_BASE_URL=https://api.paystack.co

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

RESEND_API_KEY=
EMAIL_FROM=

LOG_LEVEL=info
